<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.userInfo.mapper.UserinfoMapper">

    <select id="findAllUser" resultType="com.example.test.userInfo.model.Userinfo">
       SELECT * FROM  userinfo
    </select>

    <select id="getUser" resultType="com.example.test.userInfo.model.Userinfo">
       SELECT * FROM  userinfo where user_name = #{userName} and password = #{password}
    </select>

</mapper>
